.circle{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

.circleClicked{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.scoreLine{
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  background: black;
} 

@media (min-width: 1200px) {
  .scoreLine{
    margin-top: 85px;
  }
}

.scoreElement{
  color:white;
  font-size: 20px;
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.1);
}
