.circle{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

.circleClicked{
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.clickable {
  animation-duration: 1s;
  animation-name: boarder;
  animation-iteration-count: 15;
}

@keyframes boarder {
  0% {
    boarder-color: transparent;
  }
  3% {
    border: 2px solid black;
    boarder-color: black;
  }
  100% {
    boarder-color: transparent;
  }
}

.timer{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 10px;
}

.scoreLine{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  background: black;
}

.scoreElement{
  color: white;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .scoreLine{
    margin-top: 60px;
  }
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.oneline {
  display: flex;
  word-wrap: none;
}

.spaceRight {
  margin-left: 0px;
  margin-right: 20px;
}

.spaceLeft {
  margin-left: 20px;
}
