.circle{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

.circleClicked{
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.timer{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 10px;
}

.scoreLine{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  background: black;
}

.scoreElement{
  color: white;
  font-size: 20px;
}


@media (min-width: 1200px) {
  .scoreLine{
    margin-top: 60px;
  }
}

.clickable:hover {
  cursor: pointer;
  transform: scale(1.1);
}
