.mainTitle{
  text-align: center;
  font-size: 50px;
}

.secondTitle{
  text-align: center;
  font-size: 40px;
}

.updateColorButton{
  word-wrap: break-word;
  margin-top: 10px;
  margin-left: 10px;
  color: light-grey;
  text-align: center;
  width: 80px;
  font-size: 15px;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.updateColorButton:hover {
  cursor: pointer;
}

.backButton{
  margin-top: 10px;
  margin-left: 10px;
  color: light-grey;
  text-align: center;
  width: 80px;
  font-size: 20px;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.backButton:hover {
  cursor: pointer
}
