.mainTitle{
  text-align: center;
  font-size: 50px;
}

.secondTitle{
  text-align: center;
  font-size: 40px;
}

@media (min-width: 400px and max-width: 2000px) {
  .mainTitle{
    margin-top:40px;
    margin-bottom:40px;
  }
  .secondTitle{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.updateColorButton{
  word-wrap: break-word;
  margin-top: 10px;
  margin-left: 10px;
  color: light-grey;
  text-align: center;
  width: 120px;
  font-size: 20px;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.updateColorButton:hover {
  cursor: pointer;
}

.backButton{
  margin-top: 10px;
  margin-left: 10px;
  color: light-grey;
  text-align: center;
  width: 120px;
  font-size: 30px;
  padding: 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.backButton:hover {
  cursor: pointer;
}

.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signinButton {
  margin-top: 10px;
  margin-right: 10px;
}

.username {
  font-size: 25px;
  height: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
}

.dropdown-content button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display:block;
}

.dropdown p {
  margin: 0px;
}

.Button {
  margin-top: 10px;
  margin-left: 25px;
  width: 130px;
  height: 75px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Button:hover {
  cursor: pointer;
}
